
<p>
  <%= I18n.t('contact_mail_introduction') %>
</p>

<p>
  <%= I18n.t('contact_mail_phone_label') %><%= @contact.phone %>
</p>
<p>
  <%= I18n.t('contact_mail_email_label') %><%= @contact.email %>
</p>
<p>
  <%= I18n.t('contact_mail_message_label') %> <%= @contact.message %>
</p>


