<div class="ui grid">
  <div class="sixteen wide column">
    <div class="liliSlider">
      <div class="firstPicture carrouselImage">
        <%= image_tag 'carrousel1.jpg', :class => 'ui image' %>
      </div>
      <div class="secondPicture carrouselImage">
        <%= image_tag 'carrousel2.jpg', :class => 'ui image' %>
      </div>
      <div class="thirdPicture carrouselImage">
        <%= image_tag 'carrousel3.jpg', :class => 'ui image' %>
      </div>
      <div class="fourthPicture carrouselImage">
        <%= image_tag 'carrousel4.jpg', :class => 'ui image' %>
      </div>
      <div class="fifthPicture carrouselImage">
        <%= image_tag 'carrousel5.jpg', :class => 'ui image' %>
      </div>
      <div class="sixthPicture carrouselImage">
        <%= image_tag 'carrousel6.jpg', :class => 'ui image' %>
      </div>
    </div>
  </div>
</div>






