<div class="ui grid">
  <div class="sixteen wide column">
    <div class="liliSlider">
      <div class="firstPicture carrouselImage">
        <%= image_tag 'carou1.jpg', :class => 'ui image' %>
      </div>
      <div class="secondPicture carrouselImage">
        <%= image_tag 'carou2.jpg', :class => 'ui image' %>
      </div>
      <div class="thirdPicture carrouselImage">
        <%= image_tag 'carou3.jpg', :class => 'ui image' %>
      </div>
      <div class="fourthPicture carrouselImage">
        <%= image_tag 'carou4.jpg', :class => 'ui image' %>
      </div>
      <div class="fifthPicture carrouselImage">
        <%= image_tag 'carou5.jpg', :class => 'ui image' %>
      </div>
      <div class="sixthPicture carrouselImage">
        <%= image_tag 'carou6.jpg', :class => 'ui image' %>
      </div>
      <div class="seventhPicture carrouselImage">
        <%= image_tag 'carou7.jpg', :class => 'ui image' %>
      </div>
      <div class="eighthPicture carrouselImage">
        <%= image_tag 'carou8.jpg', :class => 'ui image' %>
      </div>
    </div>
  </div>
</div>






