<h3 class="ui horizontal divider header lonelyDivider">
  La marque
</h3>

<div class="ui stackable grid">
  <div class="five wide column">

    <div class="justifiedText">
      <%= simple_format I18n.t('brand_story_1') %>
    </div>
    <div class="image">
      <%= image_tag 'team5.jpg' %>
    </div>
  </div>
  <div class="seven wide column">
    <div class="image">
      <%= image_tag 'team13.jpg' %>
    </div>
    <div class="justifiedText">
      <%= simple_format I18n.t('brand_story_2') %>
    </div>
  </div>
  <div class="four wide column">

    <div class="justifiedText">
      <%= simple_format I18n.t('brand_story_3') %>
    </div>
    <div class="image">
      <%= image_tag 'team4.jpg' %>
    </div>
  </div>
</div>