<h3>Equipe de production</h3>


<div class="ui three special cards">
  <div class="card">
    <div class="image">
      <%= image_tag 'team11.jpg' %>
    </div>
    <div class="extra">
      Richard
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag 'team8.jpg' %>
    </div>
    <div class="extra">
      Zety
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team3.jpg' %>
    </div>
    <div class="extra">
      Lala Tiana
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team9.jpg' %>
    </div>
    <div class="extra">
      Lucie
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team6.jpg' %>
    </div>
    <div class="extra">
      Prisca
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team5.jpg' %>
    </div>
    <div class="extra">
      Nathalie
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"></div>
            <div class="cardDimmerText"><%= I18n.t('lala') %></div>
          </div>
        </div>
      </div>
      <%= image_tag 'team2.jpg', class:'content'%>
    </div>

    <div class="extra">
      Sandra
    </div>
  </div>

  <div class="card">
    <div class="ui slide masked reveal image">
      <%= image_tag 'team2.jpg', class:'visible content'%>
      <div class="hidden content">Cette meuf est gentille</div>
    </div>

    <div class="extra">
      Sandra
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team7.jpg' %>
    </div>
    <div class="extra">
      Elia
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag 'team4.jpg' %>
    </div>
    <div class="extra">
      Mirana
    </div>
  </div>

  <div class="card centered">
    <div class="image">
      <%= image_tag 'team10.jpg' %>
    </div>
    <div class="extra">
      Edrys
    </div>
  </div>


</div>