<h3 class="ui horizontal divider header lonelyDivider">
  Fondatrice
</h3>


<div class="ui stackable grid">

  <div class="nine wide column">
    <h4>Christelle David</h4>
    <p class="justifiedText">
      Young designer Christelle is the founder and creative director of LILI AMPELA.
      She was born in 1989 and raised in Antananarivo , the capital city of Madagascar.
      <br><br>
      At the age of 16 , She graduated from the French High School of Antananarivo and moved in Singapore to study Art at Lasalle SIA.

      In 2007 , she took a year to travel the world from Asia to Europe to Americas.
      Then , she decided to continue her Art studies in New Zealand in 2009 and obtained her Bachelor Degree in Fine Arts.
      Her first step into the Fashion world started during her student years , juggling between her school courses and Fashion photography free lancing.
      <br><br>
      Strongly attached to her country , and with the strong wish to fight poverty in Madagascar , she returned to her home city and founded RED SAND MADAGASCAR , a socially responsible company that specializes in the production and fair trade of raffia accessories.
      The brand LILI AMPELA was born in 2014. . .
      <br><br>
      Today she has fulfilled her dream : combining her passion for nature , her constant creativity and her endless need to help women to get out of poverty.
      She is very thankful to people who have supported and encouraged her in this exciting adventure.
    </p>
  </div>
  <div class="seven wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag 'team13.jpg' %>
      </div>
    </div>
  </div>
</div>


<h3 class="ui horizontal divider header lonelyDivider">
  Directrice administrative
</h3>
<div class="ui stackable grid">
  <div class="five wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag 'team1.jpg' %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <h4>Ange Liantsoa</h4>
    <div class="container text justifiedText">
      Ange is responsible for the administrative and office paper works. She also takes care of export logistics and accounting .
      <br><br>
      She contributed to build a well organized structure within the workshop and we will never thank her enough for that !
    </div>
  </div>
</div>

<h3 class="ui horizontal divider header lonelyDivider">
  Manager de production
</h3>


<div class="ui stackable grid">
  <div class="five wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag 'team12.jpg' %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <h4>Ivana R</h4>
    <div class="container text justifiedText">
      Ivana is responsible for the entire chain of production from samples to the finishings.
      <br><br>
      She is also our main quality controler as well as our buying manager
      <br><br>
      This lovely young woman brought a lot of positive energy withing the team and is always up to new challenges.
    </div>
  </div>
</div>

<h3 class="ui horizontal divider header lonelyDivider">
  Equipe de production
</h3>


<div class="ui four special cards centered">
  <div class="card">
    <div class="image">
      <%= image_tag 'team11.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('richard_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('richard_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Richard
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag 'team8.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('zety_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('zety_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Zety
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team3.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('lala_tiana_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('lala_tiana_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Lala Tiana
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team9.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('lucie_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('lucie_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Lucie
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team6.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('prisca_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('prisca_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Prisca
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team5.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('nathalie_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('nathalie_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Nathalie
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('sandra_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('sandra_description') %></div>
          </div>
        </div>
      </div>
      <%= image_tag 'team2.jpg', class:'content'%>
    </div>

    <div class="extra">
      Sandra
    </div>
  </div>


  <div class="card">
    <div class="image">
      <%= image_tag 'team7.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('elia_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('elia_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Elia
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag 'team4.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('mirana_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('mirana_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Mirana
    </div>
  </div>

  <div class="card centered">
    <div class="image">
      <%= image_tag 'team10.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('edrys_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('edrys_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Edrys
    </div>
  </div>


</div>